<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title koa-vue-starter
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    //- 防贴广告
    meta(http-equiv='Cache-Control', content='no-siteapp')
    meta(name='renderer', content='webkit')
    //- meta(name='viewport', content='width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-touch-fullscreen', content='yes')
    //- meta(name='format-detection', content='telephone=no,email=no')
    //- UC默认竖屏 ，UC强制全屏
    meta(name='full-screen', content='yes')
    meta(name='browsermode', content='application')
    //- QQ强制竖屏 QQ强制全屏
    meta(name='x5-orientation', content='portrait')
    meta(name='x5-fullscreen', content='true')
    meta(name='x5-page-mode', content='app')
    meta(name='App-Config', content='fullscreen=yes,useHistoryState=yes,transition=yes')
    meta(name='keywords', content=KEYWORDS)
    meta(name='description', content=DESCRIPTION)
    link(href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css", rel="stylesheet")
    
  body
    .test=aaa
    .test=NODE_ENV
    .test 66666666666666666
    //- img(src="/images/aaa.png")
    #app
  
    if NODE_ENV === 'production'
      -
        var cdns = [{
          name: 'vue',
          vasion: '2.5.21'
        }, {
          name: 'vuex',
          vasion: '3.0.1'
        }, {
          name: 'vue-router',
          vasion: '3.0.2'
        }, {
          name: 'element-ui',
          vasion: '2.6.1'
        }];
      each val,i in cdns
        script(src=`https://cdn.bootcss.com/${val.name}/${val.vasion}/${i < 3 ? val.name + '.min' : 'index'}.js`)