<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title koa-vue-starter
    link(href="https://cdn.bootcss.com/element-ui/2.6.1/theme-chalk/index.css", rel="stylesheet")
    
  body
    .test=aaa
    .test=NODE_ENV
    .test 66666666666666666
    //- img(src="/images/aaa.png")
    #app
  
    if NODE_ENV === 'production'
      -
        var cdns = [{
          name: 'vue',
          vasion: '2.5.21'
        }, {
          name: 'vuex',
          vasion: '3.0.1'
        }, {
          name: 'vue-router',
          vasion: '3.0.2'
        }, {
          name: 'element-ui',
          vasion: '2.6.1'
        }];
      each val,i in cdns
        script(src=`https://cdn.bootcss.com/${val.name}/${val.vasion}/${i < 3 ? val.name + '.min' : 'index'}.js`)